/* Imported Google Font-Family  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&display=swap");
/* 
//  CSS rules to specify families
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif; */

/* =========== Replesment CSS ============ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
}

/* =========== Common CSS ============  */
.container {
  max-width: 1320px;
  margin: 0 auto;
  /* border: 1px solid red; */
}
/* =========== Header / Banner CSS ==========   */
.banner {
  width: 100%;
  height: 600px;
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../img/Banner\ Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 50px 0;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.banner strong {
  color: #fff;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
}
.banner h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}
/* ============= Holidays Deals ============  */
.holidays-deals {
  padding: 70px 0 60px;
}
.holidays-deals .holidays-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.holidays-deals .holidays-content strong {
  color: #f00;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
}
.holidays-deals .holidays-content p {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-top: 48px;
  margin-bottom: 6px;
}
.holidays-deals .holidays-content h1 {
  color: #070211;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
.holidays-deals .holidays-content img {
  max-width: 802px;
  margin-top: 48px;
}

/* ============= welcome-section ===============  */
.welcome-section {
  padding: 60px 0;
}
.welcome-section .welcome-content {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../img/Vectorrr.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 120px;
  gap: 40px;
  border-radius: 16px;
}
.welcome-section .welcome-content h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;

  letter-spacing: 7.04px;
}
.welcome-section .welcome-content p {
  max-width: 695px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;

  padding: 24px 0 48px 0;
}
.welcome-section .welcome-content .btn {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.2s ease;
  padding: 0 20px;
}
.welcome-section .welcome-content .btn:hover {
  color: #f00;
}

/* =================== Deadline Section =============  */
.deadline-section {
  padding: 60px 0;
}
.deadline-section .deadline-content {
  width: 100%;
  height: 482px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.deadline-section p {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;

  text-transform: capitalize;
}
.deadline-section p span {
  color: #f00;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;

  text-transform: capitalize;
}
.deadline-section button {
  margin-top: 48px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 32px;
  border-radius: 8px;
  background: #f00;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.2s ease;
}
.deadline-section button:hover {
  border: 1px solid #f00;
  color: #f00;
  background-color: transparent;
}
/* =============== offers-section ==============  */
.offers-section {
  padding: 60px 0;
}

.offers-section .offers-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.offers-section .first-content strong {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.offers-section .first-content h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;

  text-transform: capitalize;
  padding: 16px 0 22px 0;
}
.offers-section .first-content p {
  max-width: 393px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}
.offers-section .second-content img {
  width: 463px;
  height: 463px;
  border-radius: 364px;
  border-radius: 463px;
  border: 15px solid #f00;
  padding: 50px;
}
.offers-section .third-content strong {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
.offers-section .third-content p {
  max-width: 276px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  padding: 16px 0 42px 0;
}
.offers-section .third-content img {
  max-width: 140px;
}
/* =============== Holidays Sale Section ================  */

.holidays-sale {
  padding: 60px 0;
}
.holidays-sale .head-sale {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.holidays-sale strong {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.holidays-sale h1 {
  color: #f00;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  padding: 16px 0 28px 0;
}
.holidays-sale h1 span {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}
.holidays-sale p {
  max-width: 1060px;
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 64px;
}
.holidays-sale .sale-content {
  display: flex;
  justify-content: space-between;
  background-image: url(../img/Rectangle\ 2.png);
  background-repeat: no-repeat;
  background-position: bottom;
}
.holidays-sale .right-content {
  width: 429px;
  position: relative;
}
.holidays-sale .right-content span {
  position: absolute;
  width: 206.841px;
  height: 206.841px;
  background-image: url(../img/Group\ 44.png);
  background-repeat: no-repeat;
  background-size: cover;
  top: 39%;
  left: -100px;
  transform: translateY(-72%);
}

/* ==================== Portfolio Section =============  */

.portfolio-section {
  margin: 60px 0;
}
.portfolio-section strong {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.portfolio-section h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  padding: 16px 0 22px 0;
}
.portfolio-section p {
  max-width: 896px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 48px;
}
.portfolio-section .portfolio-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.portfolio-section .portfolio-content div {
  overflow: hidden;
  width: 100%;
  border-radius: 16px;
  margin: 0 !important;
  padding: 0 !important;
  height: 440px;
}
.portfolio-section .portfolio-content img {
  transition: 0.2s ease;
  cursor: pointer;
}
.portfolio-section .portfolio-content div:hover img {
  transform: scale(1.1);
  opacity: 0.8;
}

/* ================== Newsletter Section =================  */
.newsletter-section {
  padding: 60px 0;
}
.newsletter-section .container {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.newsletter-section img {
  max-width: 150px;
}
.newsletter-section h1 {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 40px;
}
.newsletter-section p {
  max-width: 896px;
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}
.newsletter-section form {
  margin-top: 40px;
  width: 648px;
  border-radius: 50px;
  background: #fff;
  border-radius: 50px;
  position: relative;
}
.newsletter-section input {
  border: none;
  outline: none;
}
.newsletter-section input[type="email"] {
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 25px 30px;
  color: rgba(0, 0, 0, 0.733);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  background: #fff;
  text-align: left;
  border: 1px solid transparent;
  border-radius: 50px 0 0 50px;
}

.newsletter-section input[type="submit"] {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  padding: 24px 56px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.2s ease;
}
.newsletter-section input[type="submit"]:hover {
  border: 1px solid #f00;
  background-color: transparent;
  color: #f00;
}
/* =============== Footer Section ==============  */
footer {
  margin-top: 60px;
  background-color: #070211;
  color: white;
  padding: 120px 0;
}
footer .top-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
footer .contact-info {
  display: flex;
  padding-right: 100px;
  flex-direction: column;
}
footer .contact-info a {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.2s ease;
}
footer .contact-info a:hover {
  color: #f00;
}
footer .middle-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 48px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
footer .middle-footer img {
  transition: 0.2s ease;
}
footer .middle-footer img:hover {
  transform: translate(0, -10px);
}
footer .bottom-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
footer p {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
footer .btn {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
}
footer .btn:hover {
  color: #f00;
}
